@import "https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css";
@import "form.css";

html, body {
	height: 90%;
}

body {
	padding-top: 7em;
	align-items: center;
	background-color: #f5f5f5;
}

#errors {
	background-color: #ff6b6b;
	text-align: center;
	padding-top: 0.66em;
	padding-bottom: 0.05em;
}
