@import "https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css";

html, body {
	height: 90%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f5f5f5;
}

.form-signin {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: auto;
}

.form-label-group {
	position: relative;
	margin-bottom: 1em;
}

input:focus, input[type]:focus {
	border-color: #333;
	box-shadow: 0 1px 1px #555 inset, 0 0 5px #222;
	outline: 0 none;
}
